        {{#if session.user}}
			<style>

				body {
					margin-top: 40px;
				}
				#admin-bar {
					position: fixed;
					top: 0;
					left: 0;
					display: flex;
					justify-content: flex-end;
					width: 100%;
					background: #717171;
					padding: 8px 24px;
					list-style: none;
					z-index:99999;
				}

				#admin-bar >  li {
					margin-right: 16px;
				}

				#admin-bar > li > a {
					color: white;
				}
			</style>
			<nav id="admin-bar">

                    {{#if result._id}}
                        <li><a href="{{app_context}}/edit/{{result._id}}">{{__ "Edit"}}</a></li>
                    {{/if}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{__ "Users"}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{#ifCond session.is_admin '==' 'true'}}
                            <li><a href="{{app_context}}/users/new"><i class="fa fa-user-plus fa-fw"></i>&nbsp; {{__ "New"}}</a></li>
                            <li><a href="{{app_context}}/users"><i class="fa fa-users fa-fw"></i>&nbsp; {{__ "Edit"}}</a></li>
                            {{/ifCond}}
                            <li><a href="{{app_context}}/user/edit/{{session.user_id}}"><i class="fa fa-user fa-fw"></i>&nbsp; {{__ "My account"}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{__ "Article"}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{app_context}}/insert"><i class="fa fa-plus fa-fw"></i>&nbsp; {{__ "New"}}</a></li>
                            <li><a href="{{app_context}}/articles"><i class="fa fa-pencil fa-fw"></i>&nbsp; {{__ "Edit"}}</a></li>
                        </ul>
                    </li>
                    {{#ifCond session.is_admin '==' 'true'}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{__ "Admin"}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{app_context}}/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; {{__ "Settings"}}</a></li>
                            <li><a href="{{app_context}}/files"><i class="fa fa-files-o fa-fw"></i>&nbsp; {{__ "Files"}}</a></li>
                            <li><a href="{{app_context}}/import"><i class="fa fa-upload fa-fw"></i>&nbsp; {{__ "Import"}}</a></li>
                            <li><a href="{{app_context}}/export"><i class="fa fa-file-archive-o fa-fw"></i>&nbsp; {{__ "Export"}}</a></li>
                            <li><a href="{{app_context}}/file_cleanup"><i class="fa fa-trash fa-fw"></i>&nbsp; {{__ "Cleanup files"}}</a></li>
							<li><a href="{{app_context}}/logout">{{__ "Logout"}}</a></li>
                        </ul>
                    </li>
                    {{/ifCond}}

                {{else}}
                    {{#if config.settings.suggest_allowed}}
                        <li><a href="{{app_context}}/suggest">{{__ "Suggest"}}</a></li>
                    {{/if}}
                    {{#ifCond config.settings.show_logon '==' true}}
                        <li><a href="{{app_context}}/login">{{__ "Login"}}</a></li>
                    {{/ifCond}}

</nav>
{{/if}}
